{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range $pages.ByPublishDate.Reverse }}
  <p>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <!-- 日期 -->
    <small class="text-secondary">{{ .PublishDate.Format $customDateFormat }}</small>
  </p>
{{ end }}

{{ partial "footer.html" . }}